/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/02/2015, 1:09:35 PM
    Author     : nickf
*/

@import "compass";

@import "partials/misc";

/* Required to hold the caption, or any closest parent selector to  .slide__caption */
.slide {
  position: relative;
}

.slide__caption {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: #000;
  color: #fff;
}